<form class="activity" novalidate ng-submit="saveActivity()" name="ActivityForm">

  <section class="activityHeader">
    <img src="./assets/ow_bg.png" alt="Activity Image" />
    <div class="activitySummary">
      <label class="activityLabel" for="activityName">Name:</label>
      <input class="activityData activityName" ng-model="activity.name" id="activityName" name="name" required placeholder="Soccer 5v5" />

      <label class="activityLabel" for="activityOrganization">Organization:</label>
      <input class="activityData activityOrganization" ng-model="activity.organization" id="activityOrganization" name="organization" placeholder="Fun Sports, LLC" />

    </div>
  </section>

  <section class="activityBody">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="tab"><a>Basics</a></li>
      <li class="alternate" role="tab"><a>More Info</a></li>
      <li role="tab"><a>User Ratings</a></li>
    </ul>
    <section class="activityMain">
      <div class="activityMain">
        <label class="activityLabel" for="activityDescription">Description:</label>
        <input class="activityData activityDescription" ng-model="activity.description" id="activityDescription" name="description" placeholder="Recreational soccer with team bonding after!" />

        <label class="activityLabel" for="activityLocation">Location:</label>
        <input class="activityData activityLocation" ng-model="activity.location" id="activityLocation" name="location" placeholder="That One Field, 123 Sunshine Lane, San Francisco, CA" />

        <label class="activityLabel" for="activityCost">Cost:</label>
        <input class="activityData activityCost" ng-model="activity.cost" id="activityCost" name="cost" placeholder="$100/season" />

        <label class="activityLabel" for="activityLinks">Links:</label>
        <input class="activityData activityLinks" ng-model="activity.links" id="activityLinks" name="links" placeholder="www.5v5soccerinfofoundhere.com" />
      </div>
      <div class="activityTags">
        <label class="activityLabel" for="activityTag">Tags:</label>
        <input id="activityTag" class="activityData activityTag" ng-model="tag" placeholder="Sports" />
        <button type="button" ng-click="addTag()">Add Tag</button>
        <p ng-repeat="tag in activity.tags" ng-click="removeTag(tag)" class="tag">{{ tag }}</p>
      </div>
    </section>
  </section>

  <input type="submit" ng-disabled="ActivityForm.$invalid" value="Save"></input>
</form>