<form novalidate ng-submit="saveActivity()" name="ActivityForm">
  <label for="activityName">Name:</label>
  <input class="activityName" ng-model="activity.name" id="activityName" name="name" required placeholder="Soccer 5v5" />

  <label for="activityOrganization">Organization:</label>
  <input class="activityOrganization" ng-model="activity.organization" id="activityOrganization" name="organization" placeholder="Fun Sports, LLC" />

  <label for="activityDescription">Description:</label>
  <input class="activityDescription" ng-model="activity.description" id="activityDescription" name="description" placeholder="Recreational soccer with team bonding after!" />

  <label for="activityLocation">Location:</label>
  <input class="activityLocation" ng-model="activity.location" id="activityLocation" name="location" placeholder="That One Field, 123 Sunshine Lane, San Francisco, CA" />

  <label for="activityCost">Cost:</label>
  <input class="activityCost" ng-model="activity.cost" id="activityCost" name="cost" placeholder="$100/season" />

  <label for="activityLinks">Links:</label>
  <input class="activityLinks" ng-model="activity.links" id="activityLinks" name="links" placeholder="www.5v5soccerinfofoundhere.com" />

  <input type="submit" ng-disabled="ActivityForm.$invalid">
</form>